*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.table-1, .table-2 {
  background-color: white;
  margin: 2em;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.table-2 {
  margin-top: -0.5em;
}

caption {
  caption-side: top;
  padding: 0.7em;
  font-weight: bold;
  font-size: 1.7em;
  text-align: left;
}

th, td {
  padding: 0.75em;
  text-align: left;
  
}

tr {
  border: 1px solid #ccc;
  border-radius: 5px;
}

thead {
  background-color: #eaeaea;
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  caption {
    white-space: nowrap;
  }
}