@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
}

.header {
  position: relative;
  width: 100%;
  z-index: 10;
}

.top-bar {
  background: #000;
  height: 105px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

.top-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.top-socials {
  margin-top: 5px;
}

.top-socials a {
  color: #fff;
  margin: 0 8px;
  font-size: 14px;
}

.main-nav {
  position: absolute;
  left: 50%;
  top: 105px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  width: 80%;
  max-width: 1020px;
  padding: 0px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.nav-left, .nav-right {
  display: flex;
  list-style: none;
  flex: 1;
}

.nav-right { 
justify-content: flex-end; 
}

.main-nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  margin: 0 15px;
  text-transform: capitalize;
}

.logo {
  font-weight: 900;
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 1.4;
  
}

.orange { color: #e65100; }

.hero {
  height: 65vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/carousel-1.jpg') center/cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 70px;
  max-width: 700px;
  margin: 20px 0;
  line-height: 1.1;
}

.hero-content .subtitle {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 17px;
}

.features-section {
  background-color: #e9f1da;
  padding: 65px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
}

.section-title .line {
  width: 75px;
  height: 4px;
  background: #3a4a3a;
  margin: 0 auto 5px;
}

.section-title h2 {
  font-size: 35px;
  color: #4a5a4a;
}

.features-grid {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.about-us,
.our-features {
  margin-top: 30px;
}

.col { 
  flex: 1; 
}

.col h3 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #4a5a4a;
}

.col p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #666;
}

.our-features p {
  margin-bottom: 8px;
}

.our-features p {
  font-size: 14px;
  font-weight: 100;
}

.feature-image img {
  width: 90%;
  height: 490px;
  justify-self: center;
  border-radius: 5px;
  display: block;
}

.our-features ul {
  list-style: none;
  margin-bottom: 25px;
}

.our-features ul li {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  color: #4a5a4a;
  font-weight: 600;
  text-indent: 25px;
}

.our-features i {
  text-indent: 0px;
}

.our-features ul li i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #e65100;
}


.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

.btn-black-border {
  color: #fff;
  background:black
}

.btn-orange {
  background: #e65100;
  color: #fff;
}

.btn-black {
  background: #000;
  color: #fff;
}

.footer {
  padding: 60px 0 20px;
  text-align: center;
  background: #fff;
}

.footer-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 14px;
}

.footer-socials {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.footer-socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(146, 209, 233);
  border-radius: 50%;
  margin: 0 5px;
  color: #e65100;
  text-decoration: none;
  font-size: 14px;
}

.footer-info {
  display: flex;
  justify-content: center;
  margin: 0px auto 25px auto;
}

.info-col.left {
  flex: 1;
  color: rgb(89, 89, 89);
  border-right: 1px solid gray;
  padding-right: 10px;
  text-align: right;
}

.info-col.right {
  flex: 1;
  color: rgb(89, 89, 89);
  padding-left: 10px;
  text-align: left;

}

.info-col h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.info-col p {
  font-size: 12px;
  color: #888;
}

.copyright {
  font-size: 11px;
  color: gray;
  padding-bottom: 50px;
}