* {
  margin: 0;
  font-weight: normal;
}

body {
  background-color: lightgray;
}

.banner {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  gap: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-ctr {
  flex: 1 1 70%;
}

.text-ctr h3 {
  color: rgb(160, 159, 159);
}

.text-ctr h1 {
  font-size: 2em;
}

.img-ctr {
  flex: 1 1 30%;
  background-color: lightgray;
  border-radius: 4px;
}

.text-ctr p {
  margin-top: 7px;
  font-size: 1em;
  text-wrap: pretty;
}

.btns-ctr {
  display: flex;
  gap: 12px;
  margin-top: 17px;
}

button {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

.btns-ctr button:first-of-type {
  background-color: #67329b;
  color: white; 
}

@media screen and (max-width: 600px){
  
  .banner {
    flex-direction: column;
    gap: 20px;
  }

  .img-ctr {
    order: -1;
    flex: 1 1 auto;
    padding: 50px;
  }
}