* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem
}

body {
  background-color: rgb(231, 227, 227);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 0.5em;
  width: 60%;
  margin: 150px auto 0 auto;
  gap: 0.5em;
  border-radius: 3px;
}

#name, #email, button {
  padding: 1em;
  border-radius: 3px;
  border-style: none;
  background-color: rgb(231, 227, 227);
}

#name {
  flex-basis: 25%;
}

#email{
  flex-basis: 55%;
}

button {
  flex-basis: 20%;
  background-color: orange;
  color: white;
}