* {
  margin: 0;
}

main {
  border: 2px solid green;
}

.outer {
  border: 2px solid black;
  padding: 20px;
  margin: 20px
}

.inner {
  border: 2px solid blue;
  padding: 20px;
  margin: 0px 60px
}