@media (max-width:600px) {
  .home-navbar {
    justify-content:flex-end;
    gap:40px
  }

  .home-cta-btn {
    padding: 8px 15px;
  }

  .home-heading-container{
    width: 100%;
  }

  .home-cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-features {
    height: auto;
  }

  .home-feature-card,
  .home-feature-card1,
  .home-feature-card2 {
    width: 100%;
  }

  .home-image{
    width: 100%
  }

  .home-image2, 
  .home-image3, 
  .home-image4 {
    width: 396px;
    height: 296px;
  }

  .home-stats {
    display: flex;
    flex-direction: column;
  }

  .home-hero {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-hero-text-container {
    width: 100%;
    margin-left: 0px;
    align-items: center;
  }


  .home-heading, .home-text {
    text-align: center;
  }

  .home-image1 {
    width: 100%;
  }

  .home-cta-btn2 {
    align-self: center;
    padding: 16px 20px;
  }
}