ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 3px;
  background-color: white;
  color: orange;
  font-weight: 500;
}

nav {
  margin: 30px 10px;
  padding: 10px 10px;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 3px;
  background-color: rgb(218, 213, 213);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}