* {
  margin: 0;
  font-weight: normal;
}

body {
  background-color: lightgray;
}

section {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  gap: 30px;
}

.text-ctr {
  width: 70%;
}

.text-ctr h3 {
  color: rgb(160, 159, 159);
}

.img-ctr {
  width: 30%;
  background-color: lightgray;
  border-radius: 4px;
}

.text-ctr p {
  margin-top: 7px;
}

.btns-ctr {
  display: flex;
  gap: 12px;
  margin-top: 17px;
}

button {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

.btns-ctr button:first-of-type {
  background-color: #67329b;
  color: white;
  
}