@import url(https://fonts.googleapis.com/css2?family=Margarine&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Margarine', cursive;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 100px 10%;
}

section {
  background-color: white;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.left-side {
  flex: 1;
}

.left-side h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.left-side ul {
  list-style: none;
  margin-bottom: 20px;
}

.left-side ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.left-side i {
  color: #2196F3;
  width: 20px;
}

.skills {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  line-height: 2.5;
}

.skills h3 {
  margin-bottom: 15px;
}

.skills p {
  margin-bottom: 5px;
  font-size: 14px;
}

.progress-bar {
  background-color: transparent;
  border-radius: 20px;
  height: 18px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar:last-child {
  margin-bottom: 35px;
}

.fill {
  background-color: #2196F3;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 18px;
}

.right-side {
  flex: 2;
  padding: 30px
}

.section-title {
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: black
}

.right-side article {
  margin-bottom: 20px;
}

.right-side article:last-child {
  margin-bottom: 0;
}

.right-side h3 {
  font-size: 18px;
  color: #757575;
  margin-bottom: 10px;
}

.right-side .date {
  color: #2196F3;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-side p {
  line-height: 1.5;
  font-size: 13px;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  margin: 20px 0;
}

